@model EmartProject.Models.Product
@{
    ViewBag.Title = "DisplayS_Items";
    var PhotoPath = "~/images/" + (Model.ItemPhoto ?? "b8039b01-52d0-4fcd-99f7-b5e5e2d31c08_Dora1.jpg");
}

<div class="row justify-content-center m-3">
    <div class="col-sm-8">
        <div class="card">
            <div class="card-header">
                <h1>@Model.i_name</h1>
            </div>

            <div class="card-body text-center">
                <img class="card-img-top" src="@PhotoPath" asp-append-version="true" />

                <h4>Item ID : @Model.i_id</h4>
                <h4>Item Price : @Model.price</h4>
                <h4>No.of.Products : @Model.stk_num</h4>

            </div>
            <div class="card-footer text-center">
                <a asp-controller="Emart" asp-action="SellerDashBoard" class="btn btn-primary">Back</a>
                <a href="#" class="btn btn-primary">Edit</a>
                <a href="#" class="btn btn-danger">Delete</a>
            </div>
        </div>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}